.BankCredentialsContainer {
}
.BankCredentialsTitle {
}
.BankCredentialsInputs {
}
.BankCredentialsBankContainer {
}
.BankCredentialsBankImgContainer {
  text-align: center;
}
.BankCredentialsBankImg {
  max-width: 100%;
  max-height: 100px;
}
.BankCredentialsBankName {
  text-align: center;
  font-weight: 100;
  font-size: 1.5em;
}
