.BankListContainer {
  position: relative;
}
.BankListItems {
  position: absolute;
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.75);
}
.BankListItem {
  display: flex;
  flex-direction: row;
  padding: 20px 0;
}
.BankListItem:hover {
  background-color: #eee;
}
.BankListItemImgContainer {
  width: 30%;
  text-align: center;
}
.BankListItemImg {
  max-height: 50px;
  max-width: 100%;
}
.BankListItemName {
  padding-left: 10px;
}
