.ToolbarContainer {
  position: fixed;
  top: 0;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    339deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(252, 176, 69, 1) 100%
  );
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 20px 0;
  z-index: 1000;
}
