body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
textarea {
  width: 100%;
  padding: 0.9em 0.7em;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  padding-left: 1em;
  margin: 1px;
}

input:focus {
  border: 3px solid #555;
}

.GlobalTitle {
  font-family: "Righteous", cursive;
  font-size: 3em;
  margin: 0;
  padding: 0;
}

.GlobalSubtitle {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  font-weight: 900;
}
.GlobalLabel {
  font-size: 1.3em;
  margin: 0;
  padding: 0;
  font-weight: 200;
}
